services:
  sender:
    build: ./sender
    volumes:
      - ./images:/app/images:ro
    expose:
      - "65500"  # <-- ADD THIS LINE
    # ... other sender config ...

  receiver:
    build: ./receiver
    volumes:
      - ./images:/app/images:ro
    ports:
      - "65432:65432" # This is fine if you want to see receiver output
    depends_on:
      - sender
      - channel
    # ... other receiver config ...
    
  channel:
    build: ./channel
    ports:
      - "65431:65431"
    depends_on:
      - sender
    # ... other channel config ..